$radius: 3px;

label.radio-toggle-button {
	position: relative;
	cursor: pointer;
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: 10px;
	transition: {
		property: color, border, background-color;
		duration: 0.3s;
		timing-function: ease-in-out;
	}
	z-index: 0;

		input[type='radio'] {
		display: none;
	}
	& + & {
		margin-left: -1px;
	}
	&:first-of-type {
		border-radius: $radius 0 0 $radius;
	}
	&:last-of-type {
		border-radius: 0 $radius $radius 0;
	}
	&:hover,
	&.is-hovered {
		z-index: 1;
	}
	&.is-selected {
		z-index: 2;
	}
}
