@import './colors';

::selection {
	color: currentColor;
	background-color: $selection-bg-color;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: $bg-color;
	font-family: 'Taviraj', serif;
	font-size: 16px;
}

hr.divider {
	padding: 0;
	border: {
		top: medium double #333;
		left: none;
		bottom: none;
		right: none;
	};
	color: #333;
	text-align: center;
	max-height: 0;
	margin: 2em 0;

	&::after {
		font-family: 'Times New Roman', Times, serif;
		content: '§';
		display: inline-block;
		position: relative;
		top: -0.7em;
		font-size: 2em;
		padding: 0 0.25em;
		background: $bg-color;
	}
}

.hljs {
	&::selection, ::selection {
		color: $code-selection-color;
		background-color: $code-selection-bg-color;
	}
}

.radio-toggle-button {
	display: inline-block;
}
